[submodule "dashkit/cpp/dashj-bls/bls-signatures"]
	path = dashkit/cpp/dashj-bls/bls-signatures
	url = https://github.com/Chia-Network/bls-signatures
[submodule "bls-signatures"]
	path = bls-signatures
	url = //wsl.localhost/Ubuntu/home/alex/_git/bitcoin-kit-android/dashkit/cpp/dashj-bls/bls-signatures
